/* SCSS VARIABLES
-------------------------------------------*/

// Imports
@import "compass";
// Colors
$asu-grey: #2a2a2a;
$aaa-yellow: #ffc425;
$maroon: #8C1D40;
$light-grey: #b7babc;
$header-color: #2a2a2a;
$header-brown: #332017;
$body-brown: #4e3928;
$timeline-background: #000000;
$timeline-item-head: black;
$timeline-item-body: grey;
$scale-bars: blue;