<script id="timeScaleTemplate" type="tl/template">

    <div id="timelineScaleBar" class="timescale-scale-bar {{titleClass}}-scale-bar" style="height:{{eventPixels}};top:{{top}};">
        <div class="timeline-scale-item {{titleClass}}">
            <div id="tlItemHead{{index}}" class="timeline-scale-head {{titleClass}}-head">
                <div class="tl-head-title">
                    <div class="tl-head-text vertical-text">{{name}}<span class="date">{{startEndDate}}</span></div>
                </div>
            </div>
        </div>
    </div>
</script>